<div class="panel-header panel-header-sm"></div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Mis productos</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class="text-primary">
                <th class="text-left">id</th>
                <th class="text-left">Categoria</th>
                <th class="text-left">Nombre</th>
                <th class="text-left">Precio</th>
                <th class="text-left">Piezas</th>
              </thead>
              <tbody>
                <tr *ngFor="let product of productList">
                  <td>{{ product.id }}</td>
                  <td>{{ product.Categoria }}</td>
                  <td>{{ product.Nombre }}</td>
                  <td>{{ product.Precio }}</td>
                  <td>{{ product.Piezas }}</td>
                  <td>
                    <a class="btn btn-secondary text-white" (click)="onEdit(product)">
                        <i class="far fa-edit"></i>
                    </a>
                    <a class="btn btn-danger text-white" (click)="onDelete(product)">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>


      <div class="card mt-4">
        <div class="card-body">
          <div class="card-title">
            Agregar Producto
          </div>
          <div class="form-group">
            <input type="text" [(ngModel)]="selectedProduct.Categoria" placeholder="Categoria" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" [(ngModel)]="selectedProduct.Nombre" placeholder="Nombre" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" [(ngModel)]="selectedProduct.Precio" placeholder="Precio" class="form-control">
          </div>
          <div class="form-group">
            <input type="number" [(ngModel)]="selectedProduct.Piezas" placeholder="Piezas" class="form-control">
          </div>
          <button (click)="addOrEdit()" class="btn btn-primary">
            <i class="fas fa-plus-circle"></i>Agregar Producto</button>
        </div>
      </div>


    </div>
  </div>
</div>
