<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title"> Mercado Patio</h4>
                </div>
                <div class="card-body">

                    <div class="card">
                        <article class="card-body">
                            <a href="" class="float-right btn btn-outline-primary">Registrate</a>
                            <h4 class="card-title mb-4 mt-1">Iniciar Sesión</h4>
                            <form>
                                <div class="form-group">
                                    <label>Email</label>
                                    <input name="" class="form-control" placeholder="Email" type="email">
                                </div> <!-- form-group// -->
                                <div class="form-group">
                                    <a class="float-right" href="#">Lo olvidó?</a>
                                    <label>Contraseña</label>
                                    <input class="form-control" placeholder="******" type="password">
                                </div> <!-- form-group// -->
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label> <input type="checkbox"> Recuerdáme </label>
                                    </div> <!-- checkbox .// -->
                                </div> <!-- form-group// -->
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-block"> Entrar </button>
                                </div> <!-- form-group// -->
                            </form>
                        </article>
                    </div> <!-- card.// -->

                </div>
            </div>
        </div>
    </div>
</div>